.length-check-input {
    margin: 1rem .5rem;

    & label {
        display: block;
        font-weight: bold;
        margin: 0.1rem 0;
    }

    & input {
        display: block;
        max-width: 10rem;
    }

    & .error {
        color: #ff0000;
    }
}
