.length-check-input {
    margin: 2rem .5rem;
}
.length-check-input label {
    display: block;
    font-weight: bold;
    margin: 0.1rem 0;
}
.length-check-input input {
    display: block;
    max-width: 10rem;
}
.length-check-input .error {
    color: #ff0000;
}